[submodule "themes/fresh"]
	path = themes/fresh
	url = https://github.com/stackbit-themes/fresh-unibit.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/themes/harbor"]
	path = themes/themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
[submodule "public"]
	path = public
	url = git@github.com:yjkim0083/yjkim0083.github.io.git
	branch = main
